<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Created by:</div>
                <div class="col-md-10"><a href="http://twitter.com/ezozkme" target="_blank">AspnetRun</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Blog:</div>
                <div class="col-md-10"><a href="http://www.aspnetrun.com" target="_blank">http://www.aspnetrun.com</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="https://github.com/aspnetrun/run-aspnetcore-angular-realworld" target="_blank">https://github.com/aspnetrun/run-aspnetcore-angular-realworld</a></div>
            </div>
            <br />            
        </div>
    </div>
</div>