<div class="customers view indent">
    <div class="container">
        <header>
            <h3>
                <span class="glyphicon glyphicon-user"></span>
                {{ title }}
            </h3>
        </header>
        <br />
        <div class="row">
            <div class="col-md-10">
                <div class="navbar">
                    <ul class="nav navbar-nav">                        
                        <li class="toolbar-item">
                            <a routerLink="/customers/0/edit">
                                <span class="glyphicon glyphicon-plus"></span> New Customer
                            </a>
                        </li>
                    </ul>
                                    
                    <cm-filter-textbox class="navbar-right"
                     (changed)="filterChanged($event)"></cm-filter-textbox>
                     
                </div>
            </div>
        </div>            
    
        <cm-customer-grid 
          [customers]="filteredCustomers"></cm-customer-grid>

        <!-- 
        <cm-pagination
            [totalItems]="totalRecords" 
            [pageSize]="pageSize" 
            (pageChanged)="pageChanged($event)"></cm-pagination> -->
          
    </div>
</div>
