<div class="slick-pagination">
    <div class="slick-pagination-nav">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" [ngClass]="pageNumber === 1 ? 'disabled' : ''">
                    <a class="page-link icon-seek-first fa fa-angle-double-left" aria-label="First"
                        (click)="changeToFirstPage($event)"> </a>
                </li>
                <li class="page-item" [ngClass]="pageNumber === 1 ? 'disabled' : ''">
                    <a class="page-link icon-seek-prev fa fa-angle-left" aria-label="Previous"
                        (click)="changeToPreviousPage($event)"> </a>
                </li>
            </ul>
        </nav>

        <div class="slick-page-number">
            <span [translate]="'PAGE'"></span>
            <input type="text" value="{{pageNumber}}" size="1" (change)="changeToCurrentPage($event)">
            <span [translate]="'OF'"></span><span> {{pageCount}}</span>
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" [ngClass]="pageNumber === pageCount ? 'disabled' : ''"><a
                        class="page-link icon-seek-next text-center fa fa-lg fa-angle-right" aria-label="Next"
                        (click)="changeToNextPage($event)"> </a></li>
                <li class="page-item" [ngClass]="pageNumber === pageCount ? 'disabled' : ''"><a
                        class="page-link icon-seek-end fa fa-lg fa-angle-double-right" aria-label="Last"
                        (click)="changeToLastPage($event)"> </a></li>
            </ul>
        </nav>
        <nav>
            <ul class="pagination">
                <li class="">
                    <span [hidden]="!processing" class="page-spin">
                        <i class="fa fa-refresh fa-spin fa-lg fa-fw"></i>
                    </span>
                </li>
            </ul>
        </nav>
    </div>
</div>