<h1>Product List</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" [(ngModel)]="productName" name="productName" />
            <span class="input-group-btn">
                <button class="btn btn-primary" (click)="getProducts()">Search</button>
            </span>
        </div>
    </div>
</form>

<p>
    <a class="btn btn-sm mr-1 btn-success" routerLink="/product/product-edit">Create New</a>
</p>

<app-tabulator-table [options]="gridOptions" [data]="gridOptions.data"></app-tabulator-table>