<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-sm mr-1 btn-success" data-toggle="modal"
                        routerLink="/product/product-edit">Create New</button>
                </div>
                <div class="card-body">
                    <div class="form-group row" id="grid-container">
                        <angular-slickgrid gridId="productGrid" [columnDefinitions]="columnDefinitions"
                            [gridOptions]="gridOptions" [dataset]="dataset"
                            (onAngularGridCreated)="angularGridReady($event)">
                        </angular-slickgrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>