<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-sm mr-1 btn-success" data-toggle="modal"
                        routerLink="/product/product-edit">Create New</button>
                </div>
                <div class="card-body" id="page">
                    <div class="form-group row">
                        <slickgrid style="width: 100%" [columnDefinitions]="columnDefinitions"
                            [dataset]="productList.products" [pageCount]="productList.pageCount">
                        </slickgrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>