@import '~@ng-select/ng-select/themes/default.theme.css';

@import "~simple-line-icons/css/simple-line-icons.css";

@import "~@coreui/coreui/scss/coreui";

@import '~ng-wizard/themes/ng_wizard.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_arrows.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_circles.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_dots.min.css';
